<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        I’m a music graduate and passionate traveller with six years life experience in New Zealand. Having returned to the UK a couple of years ago, I have been in search of a new and exciting challenge.
                    </h3>
                    <h3 class="section-subheading text-muted">
                        I have always been eager to delve into the latest technologies, whatever they may be, and I love to see how things work. With this - and an introduction to General Assembly by a friend - Web Development and the WDI course caught my eye. 
                    </h3>
                    <h3 class="section-subheading text-muted">
                        Even though the course has been very intense and challenging, it has provided me with an excellent foundation in the languages and frameworks that help build the web, whilst also teaching me how to learn programming, and I know that this will prove to be the greatest asset, as I continue to learn and progress independently.
                    </h3>
                    <h3 class="section-subheading text-muted">
                        I am now looking to join a team where I can utilise these new skills, and to continue on the path to becoming a great Web Developer.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2003 - 2006</h4>
                                    <h4 class="subheading">St. Catherine's College, University of Oxford</h4>
                                    <h5 class="subheading">B.A. in Music</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The course was broadly based but allowed for increasing specialisation and choice as I progressed. Performance and composition were prominent, but I was also able to concentrate on other areas such as music history and analysis. Whilst here I played an active part in the musical life of my college as well as the university. I really enjoyed being a part of various ensembles, both large and small.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2010 - November 2012</h4>
                                    <h4 class="subheading">Spark New Zealand</h4>
                                    <h5 class="subheading">Customer Service / Sales Representative</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For this role, I worked directly with customers as part of the New & Move inbound call centre. As it was a sales role, I was used to working to daily, weekly and monthly sales targets, and enjoyed the challenge this brought with it. Whilst here, I was also asked to contribute to various projects within the department. These included the development of new learning material for existing as well as new colleagues.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2013 - January 2014</h4>
                                    <h4 class="subheading">Cello Teacher</h4>
                                    <h5 class="subheading">Freelance</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Provided cello lessons for students in and around the York area.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2014 - August 2015</h4>
                                    <h4 class="subheading">The Whisky Lounge / The Great Whisky Company</h4>
                                    <h5 class="subheading">Accounts Executive</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I helped manage the everyday running of the office in York. This involved maintaining the accounts, preparing invoices for clients and managing the remittance payments. I was also responsible for ticketing of events and various logistical matters in relation to products available for sale.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2015 - January 2016</h4>
                                    <h4 class="subheading">General Assembly London</h4>
                                    <h5 class="subheading">Web Development Immersive</h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I decided to take the Web Development Immersive course partly because a friend of mine had recommended General Assembly to me, but also because I was looking for a new challenge and a complete change from what I had been doing up until that point. The thing I enjoyed most about this course was the shear variety of material that we learnt – no two days were the same! As well as learning the fundamentals of coding, I was also introduced to a number of new technologies, and I now feel confident to learn and progress independently as I endeavour to hone my skills and broaden my knowledge.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>